# Python
__pycache__/
.pytest_cache/
*.pyc

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.dbdatasets/
datasets/
*.tar.gz
*.pkl        # only if pkl files are large — keep small ones if needed

# Jupyter
*.ipynb_checkpoints/
*.ipynb